{
  "plugins": [
    "transform-es2015-modules-commonjs",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
